In [1]:
#Load in the essential Libraries
import pandas as pd
import numpy as np
#Load in the visual libraries
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Read in the dataset with pandas and check the top 5 rows
dataset= pd.read_csv('Desktop/Data/50_startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
# Create a statistical summary
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [4]:
#create a correlation table
dataset.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [5]:
#look at the data types
dataset.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [6]:
#look for null values
dataset.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [7]:
#count the string categories
dataset['State'].value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [8]:
#encode the string or state columns
dataset = pd.get_dummies(dataset,drop_first=True)

In [9]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [11]:
# load in the ML libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [12]:
#check the columns
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [13]:
#define our variables
features = ['R&D Spend', 'Administration', 'Marketing Spend', 
       'State_Florida', 'State_New York']
target = ['Profit']

In [14]:
#X and Y
X = dataset[features]
y = dataset[target]

In [16]:
#create a training and test set 
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=123)

In [17]:
#fit the data to our ML model
lin = LinearRegression()
lin.fit(X_train,y_train)
y_pred = lin.predict(X_test)
y_pred

array([[133749.91948852],
       [126771.56418161],
       [ 97712.50105   ],
       [ 58138.82512327],
       [128196.53673201],
       [192274.03929239],
       [ 75126.75206534],
       [127984.52000746],
       [101453.65842151],
       [151532.50862832]])

In [18]:
y_test

       Profit
10  146121.95
13  134307.35
30   99937.59
46   49490.75
18  124266.90
0   192261.83
40   78239.91
12  141585.52
29  101004.64
8   152211.77

In [19]:
#check the model performance
r2_score(y_test,y_pred)

0.9667998486975283